## Collect Data

In [1]:
import requests
import json

In [2]:
#!pip3 install sodapy

Requirement already satisfied: sodapy in c:\users\aaa\anaconda3\lib\site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in c:\users\aaa\anaconda3\lib\site-packages (from sodapy) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aaa\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aaa\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aaa\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (2021.10.8)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\aaa\anaconda3\lib\site-packages (from requests>=2.28.1->sodapy) (2.0.4)

In [2]:
import os
import pandas as pd
from sodapy import Socrata

- https://data.nasa.gov/resource/gh4g-9sfh.json
- https://support.socrata.com/hc/en-us/articles/115005364207-Access-Data-Insights-Data-using-OData

In [3]:
socrata_domain = 'data.nasa.gov'
socrata_dataset_identifier = 'gh4g-9sfh'

#nasa_api = 'heIZjeBh2lcVfKe61TDOpQMywl1PHmiCzvPtGumF'
#socrata_token = os.environ.get(nasa_api)

In [4]:
client = Socrata(socrata_domain, None)
print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Domain: data.nasa.gov
Session: <requests.sessions.Session object at 0x000001DDC0E41E80>
URI Prefix: https://

In [5]:
results = client.get(socrata_dataset_identifier, limit = 50000)
df = pd.DataFrame.from_dict(results)
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'latitude': '50.775', 'longitude': '6.08333'}",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'latitude': '56.18333', 'longitude': '10.23333'}",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'latitude': '54.21667', 'longitude': '-113.0'}",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'latitude': '16.88333', 'longitude': '-99.9'}",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'latitude': '-33.16667', 'longitude': '-64.95'}",NaN,NaN

In [6]:
type(results)

list

In [ ]:
grouped = df.groupby(':@computed_region_cbhk_fwbd').sum()

In [ ]:
print(grouped)

#### Data transformation

##### Quick EDA

In [7]:
df.shape

(45716, 12)

In [8]:
## Save raw data to local machine
#df.to_csv('Meteorite landing records_raw.csv', header=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         45716 non-null  object
 1   id                           45716 non-null  object
 2   nametype                     45716 non-null  object
 3   recclass                     45716 non-null  object
 4   mass                         45585 non-null  object
 5   fall                         45716 non-null  object
 6   year                         45425 non-null  object
 7   reclat                       38401 non-null  object
 8   reclong                      38401 non-null  object
 9   geolocation                  38401 non-null  object
 10  :@computed_region_cbhk_fwbd  1659 non-null   object
 11  :@computed_region_nnqa_25f4  1659 non-null   object
dtypes: object(12)
memory usage: 4.2+ MB

In [10]:
print(df['fall'].unique())
print(df['recclass'].unique())
print(df['nametype'].unique())

['Fell' 'Found']
['L5' 'H6' 'EH4' 'Acapulcoite' 'L6' 'LL3-6' 'H5' 'L' 'Diogenite-pm'
 'Unknown' 'H4' 'H' 'Iron, IVA' 'CR2-an' 'LL5' 'CI1' 'L/LL4'
 'Eucrite-mmict' 'CV3' 'Ureilite-an' 'Stone-uncl' 'L3' 'Angrite' 'LL6'
 'L4' 'Aubrite' 'Iron, IIAB' 'Iron, IAB-sLL' 'Iron, ungrouped' 'CM2' 'OC'
 'Mesosiderite-A1' 'LL4' 'C2-ung' 'LL3.8' 'Howardite' 'Eucrite-pmict'
 'Diogenite' 'LL3.15' 'LL3.9' 'Iron, IAB-MG' 'H/L3.9' 'Iron?' 'Eucrite'
 'H4-an' 'L/LL6' 'Iron, IIIAB' 'H/L4' 'H4-5' 'L3.7' 'LL3.4'
 'Martian (chassignite)' 'EL6' 'H3.8' 'H3-5' 'H5-6' 'Mesosiderite' 'H5-7'
 'L3-6' 'H4-6' 'Ureilite' 'Iron, IID' 'Mesosiderite-A3/4' 'CO3.3' 'H3'
 'EH3/4-an' 'Iron, IIE' 'L/LL5' 'H3.7' 'CBa' 'H4/5' 'H3/4' 'H?' 'H3-6'
 'L3.4' 'Iron, IAB-sHL' 'L3.7-6' 'EH7-an' 'Iron' 'CR2' 'CO3.2' 'K3' 'L5/6'
 'CK4' 'Iron, IIE-an' 'L3.6' 'LL3.2' 'Pallasite' 'CO3.5' 'Lodranite'
 'Mesosiderite-A3' 'L3-4' 'H5/6' 'Pallasite, PMG' 'Eucrite-cm' 'L5-6'
 'CO3.6' 'Martian (nakhlite)' 'LL3.6' 'C3-ung' 'H3-4' 'CO3.4' 'EH3'
 'Iron, IAB-ung' 'Winonaite' 'LL' 'Eucrite-br' 'Iron, IIF' 'R3.8-6' 'L4-6'
 'EH5' 'LL3.00' 'H3.4' 'Martian (shergottite)' 'Achondrite-ung' 'LL3.3'
 'C' 'H/L3.6' 'Iron, IIIAB-an' 'LL7' 'Mesosiderite-B2' 'LL4-6' 'CO3.7'
 'L/LL6-an' 'Iron, IAB complex' 'Pallasite, PMG-an' 'H3.9/4' 'L3.8'
 'LL5-6' 'LL3.8-6' 'L3.9' 'L4-5' 'L3-5' 'LL4/5' 'L4/5' 'H3.9' 'H3.6-6'
 'H3.8-5' 'H3.8/4' 'H3.9-5' 'CH3' 'R3.8-5' 'L3.9/4' 'E4' 'CO3'
 'Chondrite-ung' 'H~5' 'H~6' 'L/LL3.10' 'EL5' 'LL3' 'L~6' 'L~3' 'H~4'
 'L(LL)3.5-3.7' 'Iron, IIIE-an' 'H3.6' 'L3.4-3.7' 'L3.5' 'CM1/2'
 'Martian (OPX)' 'Brachinite' 'LL7(?)' 'LL6(?)' 'Eucrite-Mg rich' 'H3.5-4'
 'EL3' 'R3.6' 'H3.5' 'CM1' 'L/LL3' 'H7' 'L(?)3' 'L3.2' 'L3.7-3.9'
 'Mesosiderite-B1' 'Eucrite-unbr' 'LL3.7' 'CO3.0' 'LL3.5' 'L3.7-4'
 'CV3-an' 'Lunar (anorth)' 'L3.3' 'Iron, IAB-sLM' 'Lunar' 'Iron, IC'
 'Iron, IID-an' 'Iron, IIIE' 'Iron, IVA-an' 'CK6' 'L3.1' 'CK5' 'H3.3'
 'H3.7-6' 'E6' 'H3.0' 'H3.1' 'L3.0' 'L/LL3.4' 'C6' 'LL3.0'
 'Lunar (gabbro)' 'R4' 'C4' 'Iron, IIG' 'Iron, IIC' 'C1-ung' 'H5-an'
 'EH4/5' 'Iron, IIIF' 'R3-6' 'Mesosiderite-B4' 'L6/7' 'Relict H'
 'L-imp melt' 'CK3' 'H3-an' 'Iron, IVB' 'R3.8' 'L~5' 'Mesosiderite-an'
 'Mesosiderite-A2' 'Pallasite, PES' 'C4-ung' 'Iron, IAB?' 'Mesosiderite-A'
 'R3.5-6' 'H3.9-6' 'Ureilite-pmict' 'LL~6' 'CK4/5' 'EL4'
 'Lunar (feldsp. breccia)' 'L3.9-6' 'H-an' 'L/LL3-6' 'L/LL3-5' 'H/L3.5'
 'H/L3' 'R3-4' 'CK3-an' 'LL4-5' 'H/L6' 'L3/4' 'H-imp melt' 'CR'
 'Chondrite-fusion crust' 'Iron, IAB-sLH' 'H(L)3-an' 'L(LL)3' 'H(L)3' 'R3'
 'L7' 'CM-an' 'L/LL~6' 'L/LL~5' 'L~4' 'L/LL~4' 'LL(L)3' 'H3.2'
 'L-melt breccia' 'H6-melt breccia' 'H5-melt breccia' 'H-melt rock'
 'Eucrite-an' 'Lunar (bas/anor)' 'LL5/6' 'LL3/4' 'H3.4/3.5'
 'Lunar (basalt)' 'H/L5' 'H(5?)' 'LL-imp melt' 'Mesosiderite?' 'H~4/5'
 'L6-melt breccia' 'L3.5-3.7' 'Iron, IIAB-an' 'L3.3-3.7' 'L3.2-3.6'
 'L3.3-3.6' 'Acapulcoite/Lodranite' 'Mesosiderite-B' 'CK5/6' 'L3.05' 'C2'
 'C4/5' 'L/LL3.2' 'Iron, IIIAB?' 'L3.5-5' 'L/LL(?)3' 'H4(?)'
 'Iron, IAB-sHH' 'Relict iron' 'EL4/5' 'L5-7' 'Diogenite-an' 'L-melt rock'
 'CR1' 'H5 ' 'L5 ' 'H4 ' 'L4 ' 'E' 'L6 ' 'H3 ' 'LL6 ' 'H-metal' 'H6 '
 'L-metal' 'Relict OC' 'EH' 'Mesosiderite-A4' 'L/LL5/6' 'H3.8-4' 'CBb'
 'EL6/7' 'EL7' 'CH/CBb' 'CO3.8' 'H/L~4' 'Mesosiderite-C2' 'R5' 'H4/6'
 'H3.7-5' 'LL3.7-6' 'H3.7/3.8' 'L3.7/3.8' 'EH-imp melt' 'R' 'Fusion crust'
 'Aubrite-an' 'R6' 'LL-melt rock' 'L3.5-3.9' 'L3.2-3.5' 'L3.3-3.5'
 'L3.0-3.7' 'E3-an' 'K' 'E3' 'Acapulcoite/lodranite' 'CK4-an' 'L(LL)3.05'
 'L3.10' 'CB' 'Diogenite-olivine' 'EL-melt rock' 'EH6'
 'Pallasite, ungrouped' 'L/LL4/5' 'L3.8-an' 'Iron, IAB-an' 'C5/6-ung'
 'CV2' 'Iron, IC-an' 'Lunar (bas. breccia)' 'L3.8-6' 'R3/4' 'R3.9' 'CK'
 'LL3.10' 'R4/5' 'L3.8-5' 'Mesosiderite-C' 'Enst achon' 'H/L3-4' 'L(H)3'
 'LL6/7' 'LL3.1' 'OC3' 'R3.7' 'CO3 ' 'CH3 ' 'LL~4' 'LL~4/5' 'L(LL)~4'
 'H3.05' 'H3.10' 'Impact melt breccia' 'LL3-5' 'H/L3.7' 'LL3-4' 'CK3/4'
 'Martian' 'CO3.1' 'Lunar (bas/gab brec)' 'Achondrite-prim' 'LL<3.5'
 'CK3.8' 'L/LL-melt rock' 'H6/7' 'EL6 ' 'Iron, IAB-sHL-an' 'CM2-an' 'R3-5'
 'L4-melt rock' 'L6-melt rock' 'H/L4/5' 'EL3/4' 'H/L6-melt rock'
 'Enst achon-ung' 'L3-7' 'R3.4' 'LL3.05' 'LL4/6' 'LL3.8-4' 'H3.15'
 'C3.0-ung' 'LL-melt breccia' 'LL6-melt breccia' 'L5-melt breccia'
 'LL(L)3.1' 'LL6-an' 'L4-melt breccia' 'Howardite-an' 'H4-melt breccia'
 'Martian (basaltic breccia)' 'L3-melt breccia' 'L~4-6' 'LL~5' 'R3.5-4'
 'CR7' 'H-melt breccia' 'Lunar (norite)' 'L3.00' 'H3.0-3.4' 'L/LL4-6' 'CM'
 'EH7' 'L4-an' 'E-an' 'H3.8/3.9' 'L3.9-5' 'H3.8-6' 'H3.4-5' 'L3.0-3.9'
 'L3.5-3.8' 'H3.2-3.7' 'L3.6-4' 'Iron, IIE?' 'C3/4-ung' 'L/LL3.5'
 'L/LL3.6/3.7' 'H/L4-5' 'LL~3' 'Pallasite?' 'LL5-7' 'LL3.9/4' 'H3.8-an'
 'CR-an' 'L/LL5-6' 'L(LL)5' 'L(LL)6' 'LL3.1-3.5' 'E5' 'Lodranite-an'
 'H3.2-6' 'H(?)4' 'E5-an' 'H3.2-an' 'EH6-an' 'Stone-ung' 'C1/2-ung' 'L/LL']
['Valid' 'Relict']

In [11]:
df['recclass'].nunique()

466

In [12]:
print(df.value_counts('recclass'))

recclass
L6          8285
H5          7142
L5          4796
H6          4528
H4          4211
            ...
L3.2-3.5       1
L3.2-3.6       1
L3.3-3.5       1
L3.3-3.6       1
L3-7           1
Length: 466, dtype: int64

In [13]:
df.value_counts(['nametype', 'fall'])

nametype  fall
Valid     Found    44534
          Fell      1107
Relict    Found       75
dtype: int64

In [14]:
df.isnull().sum()

name                               0
id                                 0
nametype                           0
recclass                           0
mass                             131
fall                               0
year                             291
reclat                          7315
reclong                         7315
geolocation                     7315
:@computed_region_cbhk_fwbd    44057
:@computed_region_nnqa_25f4    44057
dtype: int64

In [16]:
df.duplicated().sum() # not working because of dictionary values, geolocation column

TypeError: unhashable type: 'dict'

In [18]:
df = df.applymap(lambda x: str(x) if isinstance(x, dict) else x)
print(df.duplicated().sum())

0

##### Data cleaning

In [15]:
df.tail(8)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
45708,Zhigansk,30405,Valid,"Iron, IIIAB",900000,Found,1966-01-01T00:00:00.000,68.000000,128.300000,"{'latitude': '68.0', 'longitude': '128.3'}",NaN,NaN
45709,Zhongxiang,30406,Valid,Iron,100000,Found,1981-01-01T00:00:00.000,31.200000,112.500000,"{'latitude': '31.2', 'longitude': '112.5'}",NaN,NaN
45710,Zillah 001,31355,Valid,L6,1475,Found,1990-01-01T00:00:00.000,29.037000,17.018500,"{'latitude': '29.037', 'longitude': '17.0185'}",NaN,NaN
45711,Zillah 002,31356,Valid,Eucrite,172,Found,1990-01-01T00:00:00.000,29.037000,17.018500,"{'latitude': '29.037', 'longitude': '17.0185'}",NaN,NaN
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46,Found,1999-01-01T00:00:00.000,13.783330,8.966670,"{'latitude': '13.78333', 'longitude': '8.96667'}",NaN,NaN
45713,Zlin,30410,Valid,H4,3.3,Found,1939-01-01T00:00:00.000,49.250000,17.666670,"{'latitude': '49.25', 'longitude': '17.66667'}",NaN,NaN
45714,Zubkovsky,31357,Valid,L6,2167,Found,2003-01-01T00:00:00.000,49.789170,41.504600,"{'latitude': '49.78917', 'longitude': '41.5046'}",NaN,NaN
45715,Zulu Queen,30414,Valid,L3.7,200,Found,1976-01-01T00:00:00.000,33.983330,-115.683330,"{'latitude': '33.98333', 'longitude': '-115.68...",8,1177

<br> <br>
- **Read downloaded data to compare**

In [24]:
df1 = pd.read_csv('Meteorite_Landings_20240604.csv')

In [25]:
df1.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [26]:
df1.shape

(45716, 10)

In [40]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  datetime64[ns]
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 3.5+ MB

<br> <br>

- <p>https://support.socrata.com/hc/en-us/articles/14697304583319-Default-Column-Metadata-For-Computed-Region-Columns<p>

In [16]:
# Drop unneccessary columns
# Computed region columns are system-generated columns 
# that are created any time a Spatial Lens is applied to datasets with point column data.
# Once generated, these columns are used in defining boundaries based on the provided point columns.
meteorite = df.drop(columns=[':@computed_region_cbhk_fwbd', ':@computed_region_nnqa_25f4'])

In [17]:
meteorite.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'latitude': '50.775', 'longitude': '6.08333'}"
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'latitude': '56.18333', 'longitude': '10.23333'}"
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'latitude': '54.21667', 'longitude': '-113.0'}"
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'latitude': '16.88333', 'longitude': '-99.9'}"
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'latitude': '-33.16667', 'longitude': '-64.95'}"

In [18]:
meteorite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  object
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass         45585 non-null  object
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  object
 8   reclong      38401 non-null  object
 9   geolocation  38401 non-null  object
dtypes: object(10)
memory usage: 3.5+ MB

In [19]:
meteorite['id'] = meteorite['id'].astype('int64')

In [20]:
meteorite.rename(columns={"mass" : "mass (g)"}, inplace=True)

In [21]:
meteorite['mass (g)'] = meteorite['mass (g)'].apply(lambda x: float(x))

In [22]:
meteorite['year'] = pd.to_datetime(meteorite['year'], errors='coerce')

In [23]:
meteorite['reclat'] = meteorite['reclat'].apply(lambda x: float(x))
meteorite['reclong'] = meteorite['reclong'].apply(lambda x: float(x))

In [24]:
from shapely.geometry import Point

# Function to create Point objects
def create_point(row):
    return Point(float(row['reclong']), float(row['reclat']))

# Apply the function to each row to create the 'geometry' column
meteorite['geometry'] = meteorite.apply(create_point, axis=1)

C:\Users\aaa\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:122: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [25]:
meteorite.dtypes

name                   object
id                      int64
nametype               object
recclass               object
mass (g)              float64
fall                   object
year           datetime64[ns]
reclat                float64
reclong               float64
geolocation            object
geometry               object
dtype: object

In [26]:
meteorite.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,geolocation,geometry
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01,50.77500,6.08333,"{'latitude': '50.775', 'longitude': '6.08333'}",POINT (6.08333 50.775)
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01,56.18333,10.23333,"{'latitude': '56.18333', 'longitude': '10.23333'}",POINT (10.23333 56.18333)
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01,54.21667,-113.00000,"{'latitude': '54.21667', 'longitude': '-113.0'}",POINT (-113 54.21667)
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01,16.88333,-99.90000,"{'latitude': '16.88333', 'longitude': '-99.9'}",POINT (-99.9 16.88333)
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01,-33.16667,-64.95000,"{'latitude': '-33.16667', 'longitude': '-64.95'}",POINT (-64.95 -33.16667)

In [27]:
meteorite.isnull().sum()

name              0
id                0
nametype          0
recclass          0
mass (g)        131
fall              0
year            312
reclat         7315
reclong        7315
geolocation    7315
geometry          0
dtype: int64

- **Split data into three parts for future analysis in SQL**

In [31]:
meteorite_info = meteorite[['id', 'name', 'nametype', 'recclass', 'fall']]

In [32]:
meteorite_info.head()

    id      name nametype     recclass  fall
0    1    Aachen    Valid           L5  Fell
1    2    Aarhus    Valid           H6  Fell
2    6      Abee    Valid          EH4  Fell
3   10  Acapulco    Valid  Acapulcoite  Fell
4  370   Achiras    Valid           L6  Fell

In [33]:
#meteorite_info.to_excel('Landing meteorite information.xlsx', header=True)

In [34]:
meteorite_mass = meteorite[['id', 'recclass', 'mass (g)']]

In [35]:
meteorite_mass.head()

    id     recclass  mass (g)
0    1           L5      21.0
1    2           H6     720.0
2    6          EH4  107000.0
3   10  Acapulcoite    1914.0
4  370           L6     780.0

In [36]:
#meteorite_mass.to_excel('Landing meteorite mass.xlsx', header=True)

In [37]:
meteorite_landing = meteorite[['id', 'name', 'year', 'reclat', 'reclong', 'geometry']]

In [38]:
meteorite_landing.head()

    id      name       year    reclat    reclong                   geometry
0    1    Aachen 1880-01-01  50.77500    6.08333     POINT (6.08333 50.775)
1    2    Aarhus 1951-01-01  56.18333   10.23333  POINT (10.23333 56.18333)
2    6      Abee 1952-01-01  54.21667 -113.00000      POINT (-113 54.21667)
3   10  Acapulco 1976-01-01  16.88333  -99.90000     POINT (-99.9 16.88333)
4  370   Achiras 1902-01-01 -33.16667  -64.95000   POINT (-64.95 -33.16667)

In [39]:
#meteorite_landing.to_excel('Landing meteorite time and location.xlsx', header=True)

In [ ]:
#meteorite.dropna(inplace=True)

- **remove latitude and longtitude that are zero**

In [ ]:
# unique_reclat_values = df['reclat'].unique()

# # Check if 0 is in the unique values
# if 0 in unique_reclat_values:
#     print("The value 0 is present in the 'reclat' column.")
# else:
#     print("The value 0 is not present in the 'reclat' column.")

# df = df[(df['reclat'] != 0) & (df['reclong'] != 0)]

### Generate country information that can be imported into SQL Server

In [ ]:
#pip install pandas-geojson

In [ ]:
import pandas_geojson as pdg

In [ ]:
geo = pdg.read_geojson('world-administrative-boundaries.geojson')

In [ ]:
geo_df = geo.to_dataframe()

In [ ]:
geo_df.head()

In [ ]:
geo_df['geometry.coordinates'][6]

In [ ]:
geo_df['geometry.type'].unique()

In [ ]:
country = pdg.read_geojson('Longitude_Graticules_and_World_Countries_Boundaries.geojson')

In [ ]:
country_df = country.to_dataframe()

In [ ]:
country_df.head()

In [ ]:
country_df.to_csv('country.csv', header=True)

In [ ]:
from osgeo import ogr
import csv

In [ ]:
# Open GeoJSON file
geojson_ds = ogr.Open('world-administrative-boundaries.geojson')
if geojson_ds is None:
    print("Could not open input GeoJSON file")
    exit(1)

# Get the first layer in the GeoJSON file
layer = geojson_ds.GetLayer(0)

# Create a WKT file for output
wkt_file = open('country.wkt', 'w')

# Iterate through features and convert geometries to WKT
for feature in layer:
    geom = feature.GetGeometryRef()
    wkt_geometry = geom.ExportToWkt()
    wkt_file.write(wkt_geometry + '\n')

# Close the WKT file and GeoJSON dataset
wkt_file.close()
geojson_ds = None

In [ ]:
# Open GeoJSON file
geojson_ds = ogr.Open('world-administrative-boundaries.geojson')
if geojson_ds is None:
    print("Could not open input GeoJSON file")
    exit(1)

# Get the first layer in the GeoJSON file
layer = geojson_ds.GetLayer(0)

# Open a CSV file for writing
with open('world_country.csv', 'w', newline='') as csvfile:
    fieldnames = ['continent', 'region', 'name', 'id', 'WKT']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    # Write CSV header
    writer.writeheader()

    # Iterate through features and convert geometries to WKT
    for feature in layer:
        continent = feature.GetField('continent')
        region = feature.GetField('region')
        name = feature.GetField('name')  # Change 'Name' to the actual field name
        id = feature.GetField('color_code')  # Change 'Description' to the actual field name
        geom = feature.GetGeometryRef()
        wkt_geometry = geom.ExportToWkt()

        # Write feature information to CSV
        writer.writerow({'continent': continent, 'region' : region,
                         'name': name, 'id': id, 'WKT': wkt_geometry})

# Close the GeoJSON dataset
geojson_ds = None

In [ ]:
# Open GeoJSON file
geojson_ds = ogr.Open('Longitude_Graticules_and_World_Countries_Boundaries.geojson')
if geojson_ds is None:
    print("Could not open input GeoJSON file")
    exit(1)

# Get the first layer in the GeoJSON file
layer = geojson_ds.GetLayer(0)

# Open a CSV file for writing
with open('world_country_nonadminstrative.csv', 'w', newline='') as csvfile:
    fieldnames = ['country', 'coordinates']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    # Write CSV header
    writer.writeheader()

    # Iterate through features and convert geometries to WKT
    for feature in layer:
        country = feature.GetField('CNTRY_NAME')
        geom = feature.GetGeometryRef()
        wkt_geometry = geom.ExportToWkt()

        # Write feature information to CSV
        writer.writerow({'country': country, 'coordinates': wkt_geometry})

# Close the GeoJSON dataset
geojson_ds = None

### an alternative way of getting country info

In [43]:
#pip install reverse_geocoder pycountry

Collecting reverse_geocoderNote: you may need to restart the kernel to use updated packages.

  Downloading reverse_geocoder-1.5.1.tar.gz (2.2 MB)
Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
Requirement already satisfied: numpy>=1.11.0 in c:\users\aaa\anaconda3\lib\site-packages (from reverse_geocoder) (1.21.5)
Requirement already satisfied: scipy>=0.17.1 in c:\users\aaa\anaconda3\lib\site-packages (from reverse_geocoder) (1.9.3)
Building wheels for collected packages: reverse-geocoder
  Building wheel for reverse-geocoder (setup.py): started
  Building wheel for reverse-geocoder (setup.py): finished with status 'done'
  Created wheel for reverse-geocoder: filename=reverse_geocoder-1.5.1-py3-none-any.whl size=2268088 sha256=890c0f1cedd063da07739224a2960c7bcb4d442a1392db4b2aa462a6bccc1663
  Stored in directory: c:\users\aaa\appdata\local\pip\cache\wheels\10\05\be\d2edd4ff207cf625ce8bd20cf1493c27838828e8920aff9f4e
Successfully built reverse-geocoder
Installing collected packages: reverse-geocoder, pycountry
Successfully installed pycountry-24.6.1 reverse-geocoder-1.5.1

In [ ]:
import pandas as pd
import reverse_geocoder as rg
import pycountry

def get_country(lat, lon):
    try:
        results = rg.search((lat, lon))
        if results:
            country_code = results[0]['cc']
            return country_code
        return 'Unknown'
    except Exception as e:
        return 'Unknown'

def code_to_country_name(code):
    try:
        country = pycountry.countries.get(alpha_2=code)
        if country:
            return country.name
        return 'Unknown'
    except Exception:
        return 'Unknown'

# Convert coordinates to country names
meteorite_landing['country'] = meteorite_landing.apply(lambda row: 
                                                       code_to_country_name(get_country(row['reclat'], row['reclong'])),
                                                       axis=1)

Loading formatted geocoded file...

In [ ]:
# from geopy.geocoders import Nominatim
# import time

# # Initialize Nominatim geocoder
# locator = Nominatim(user_agent="openmapquest", timeout=10)

# def get_country_from_coordinates(lat, long):
#     retries = 3
#     for _ in range(retries):
#         try:
#             location = locator.reverse((lat, long), exactly_one=True)
#             if location:
#                 address = location.raw['address']
#                 country = address.get('country', '')
#                 return country
#         except Exception as e:
#             print(f"Error: {e}")
#             time.sleep(1)  # Wait for 1 second before retrying
#     return None


# # Apply the function to your dataframe
# df["country"] = df.apply(lambda row: get_country_from_coordinates(row["reclat"], row["reclong"]), axis=1)

In [40]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

def get_country_name(latitude, longitude):
    try:
        # Initialize Nominatim geocoder
        geolocator = Nominatim(user_agent="my_geocoder")

        # Reverse geocode the coordinates to get location information
        location = geolocator.reverse((latitude, longitude), language='en', exactly_one=True)

        # Check if location is not None
        if location:
            # Extract country name from the location information
            country = location.raw['address'].get('country')
            return country
        else:
            return None
    except GeocoderTimedOut:
        return None

In [ ]:
from shapely.wkb import loads
from pyproj import Transformer

# Convert hexadecimal WKB to binary
hex_string = "0xE6100000010C1630815B77174C40F3599E0777772440"
binary_data = bytes.fromhex(hex_string[2:])  # remove the '0x' prefix and convert to binary

# Parse WKB into a geometry object
geometry = loads(binary_data)

# Define the transformer to convert from the original CRS to EPSG 4326
transformer = Transformer.from_crs(geometry.crs, "epsg:4326")

# Transform the geometry to EPSG 4326 coordinates
geometry_4326 = geometry.to_crs(transformer)

# Now you can access the coordinates of the transformed geometry
coordinates_4326 = geometry_4326.xy
print(coordinates_4326)